name: CI

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - slides.md
      - pages/**
      - components/**
      - snippets/**
      - setup/**
      - package.json
    tags:
      - "v*.*.*"

concurrency:
  group: pages
  cancel-in-progress: false

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
      - uses: actions/setup-node@v4
        with:
          cache: pnpm
          node-version-file: .tool-versions
      - name: Install dependencies
        run: pnpm i
      - name: Build site
        run: pnpm build --base go-slide
      - name: Setup Pages
        uses: actions/configure-pages@v4
      - uses: actions/upload-pages-artifact@v3
        with:
          path: dist
      - name: Upload PDF artifact
        uses: actions/upload-artifact@v4
        with:
          path: dist/slidev-exported.pdf
          name: pdf

  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    if: ${{ !startsWith(github.ref, 'refs/tags/v') }}
    needs: build
    runs-on: ubuntu-latest
    permissions:
      pages: write
      id-token: write
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4

  release:
    runs-on: ubuntu-latest
    if: ${{ github.event_name == 'push' && startsWith(github.ref, 'refs/tags/v') }}
    needs: build
    permissions:
      contents: write
    steps:
      - uses: actions/download-artifact@v5
        with:
          name: pdf
          path: dist
      - name: Upload PDF to Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ github.ref_name }}
          name: ${{ github.ref_name }}
          draft: false
          prerelease: false
          files: dist/slidev-exported.pdf
          fail_on_unmatched_files: true
